<div class="main-promote">
    <h2 class="promote-text"><%= message %></h2>
</div>

<div class="show-farm-container">
    <img class="item-image" src="<%= farm.imagePath %>" height="200" width="250">
    <div>Farm Name: <%= farm.name %></div>
    <div>Agricultural Produce: <%= farm.produce %></div>
    <div>Location: <%= farm.location %></div>
    <div>Description: <%= farm.description %></div>
</div>

<div class="btn-list">
    <button class="btn btn-show-page"><a href="/farms">Back</a></button>
</div>