<h2 class="section-title">Member Info</h2>
<div class="show-farm-container">    
    <img class="item-image" src="<%= farm.imagePath %>">
    <div>Farm Name: <%= farm.name %></div>
    <div>Agricultural Produce: <%= farm.produce %></div>
    <div>Location: <%= farm.location %></div>
    <div>Description: <%= farm.description %></div>   
    <div class="btn-list">
        <button class="btn btn-show-page"><a href="/farms">Back</a></button>
        <button class="btn btn-show-page"><a href="/farms/<%= farm.id %>/edit">Edit</a></button>

        <%- include('../partials/deleteForm', 
                { url : `/farms/${farm.id}` }) %>
    </div>
</div> 


